*.iml
.gradle
/.kotlin
/.idea
/local.properties
.DS_Store
/build
/app/debug
/captures
.externalNativeBuild
.cxx
local.properties
/.venv
/ml/datasets/*
!/ml/datasets/README.md
/ml/models/*
!/ml/models/README.md
!/ml/models/notification_classifier_metadata.json
!/ml/models/notification_classifier_report.json
